<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pic_poker_B_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1514},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_B_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1744},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_B_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1514},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_B_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1346},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_B_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1806},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_B_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1576},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_B_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1346},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_B_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1178},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_B_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1178},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_B_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1868},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_B_turn.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1638},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_ColorChange.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1408},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_G_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1178},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_G_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1868},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_G_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1638},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_G_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1408},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_G_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1178},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_G_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1010},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_G_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1010},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_G_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1010},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_G_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1010},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_G_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,842},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_G_turn.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,842},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_R_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,842},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_R_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_R_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,674},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_R_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,674},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_R_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,674},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_R_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_R_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,506},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_R_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,506},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_R_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,506},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_R_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_R_turn.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,338},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_Y_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,338},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_Y_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,338},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_Y_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_Y_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,170},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_Y_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,170},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_Y_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,170},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_Y_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_Y_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_Y_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_Y_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_Y_turn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,228}}</string>
                <key>sourceSize</key>
                <string>{166,228}</string>
            </dict>
            <key>pic_poker_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{86,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,119}}</string>
                <key>sourceSize</key>
                <string>{86,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Card.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc39c82451df136b569b9e0a12f0cccd$</string>
            <key>textureFileName</key>
            <string>Card.png</string>
        </dict>
    </dict>
</plist>
