<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_array_colour_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,770},{223,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,72}}</string>
                <key>sourceSize</key>
                <string>{223,72}</string>
            </dict>
            <key>btn_array_colour_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,770},{223,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,72}}</string>
                <key>sourceSize</key>
                <string>{223,72}</string>
            </dict>
            <key>btn_array_digital_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,2},{223,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,70}}</string>
                <key>sourceSize</key>
                <string>{223,70}</string>
            </dict>
            <key>btn_array_digital_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,2},{223,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,70}}</string>
                <key>sourceSize</key>
                <string>{223,70}</string>
            </dict>
            <key>btn_chooseColor_cancel_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,394},{190,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,84}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>btn_chooseColor_cancel_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,394},{190,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,84}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>btn_chooseColor_define_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,763},{190,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,84}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>btn_chooseColor_define_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,684},{190,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,84}}</string>
                <key>sourceSize</key>
                <string>{190,84}</string>
            </dict>
            <key>btn_pokerAmount_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,586},{75,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>btn_pokerAmount_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,586},{75,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>btn_pokerAmount_u.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,586},{75,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,58}}</string>
                <key>sourceSize</key>
                <string>{75,58}</string>
            </dict>
            <key>btn_result_close_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,102},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>btn_result_close_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,2},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>btn_result_continue_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,400},{258,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,96}}</string>
                <key>sourceSize</key>
                <string>{258,96}</string>
            </dict>
            <key>btn_result_continue_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,2},{259,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,96}}</string>
                <key>sourceSize</key>
                <string>{259,96}</string>
            </dict>
            <key>btn_result_return_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,2},{259,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,96}}</string>
                <key>sourceSize</key>
                <string>{259,96}</string>
            </dict>
            <key>btn_result_return_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,423},{259,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,96}}</string>
                <key>sourceSize</key>
                <string>{259,96}</string>
            </dict>
            <key>btn_scrollbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{27,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,446}}</string>
                <key>sourceSize</key>
                <string>{27,446}</string>
            </dict>
            <key>pic_chooseColor_pokerB_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,202},{129,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,160}}</string>
                <key>sourceSize</key>
                <string>{129,160}</string>
            </dict>
            <key>pic_chooseColor_pokerB_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,873},{129,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,160}}</string>
                <key>sourceSize</key>
                <string>{129,160}</string>
            </dict>
            <key>pic_chooseColor_pokerG_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,742},{129,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,160}}</string>
                <key>sourceSize</key>
                <string>{129,160}</string>
            </dict>
            <key>pic_chooseColor_pokerG_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,611},{129,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,160}}</string>
                <key>sourceSize</key>
                <string>{129,160}</string>
            </dict>
            <key>pic_chooseColor_pokerR_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,749},{129,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,160}}</string>
                <key>sourceSize</key>
                <string>{129,160}</string>
            </dict>
            <key>pic_chooseColor_pokerR_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,263},{129,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,160}}</string>
                <key>sourceSize</key>
                <string>{129,160}</string>
            </dict>
            <key>pic_chooseColor_pokerY_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,269},{129,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,160}}</string>
                <key>sourceSize</key>
                <string>{129,160}</string>
            </dict>
            <key>pic_chooseColor_pokerY_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,292},{129,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,160}}</string>
                <key>sourceSize</key>
                <string>{129,160}</string>
            </dict>
            <key>pic_nameframe_load.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,911},{100,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,99}}</string>
                <key>sourceSize</key>
                <string>{100,99}</string>
            </dict>
            <key>pic_nameframe_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,393},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>pic_nameframe_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,227},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>pic_nameframe_pokerNum1.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,980},{60,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,42}}</string>
                <key>sourceSize</key>
                <string>{60,42}</string>
            </dict>
            <key>pic_nameframe_pokerNum2.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,980},{60,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,42}}</string>
                <key>sourceSize</key>
                <string>{60,42}</string>
            </dict>
            <key>pic_order_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,763},{215,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,101}}</string>
                <key>sourceSize</key>
                <string>{215,101}</string>
            </dict>
            <key>pic_order_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,660},{215,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,101}}</string>
                <key>sourceSize</key>
                <string>{215,101}</string>
            </dict>
            <key>pic_poker_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,2},{226,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,288}}</string>
                <key>sourceSize</key>
                <string>{226,288}</string>
            </dict>
            <key>pic_result_1st.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,955},{101,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,67}}</string>
                <key>sourceSize</key>
                <string>{101,67}</string>
            </dict>
            <key>pic_result_2nd.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,559},{101,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,50}}</string>
                <key>sourceSize</key>
                <string>{101,50}</string>
            </dict>
            <key>pic_result_3rd.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,559},{101,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,50}}</string>
                <key>sourceSize</key>
                <string>{101,50}</string>
            </dict>
            <key>pic_result_4th.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,646},{101,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,50}}</string>
                <key>sourceSize</key>
                <string>{101,50}</string>
            </dict>
            <key>pic_result_lostCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,773},{169,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,230}}</string>
                <key>sourceSize</key>
                <string>{169,230}</string>
            </dict>
            <key>pic_result_meCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,773},{169,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,230}}</string>
                <key>sourceSize</key>
                <string>{169,230}</string>
            </dict>
            <key>pic_result_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,773},{249,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,36}}</string>
                <key>sourceSize</key>
                <string>{249,36}</string>
            </dict>
            <key>pic_result_winCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{273,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,321}}</string>
                <key>sourceSize</key>
                <string>{273,321}</string>
            </dict>
            <key>pic_schedule_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,2},{265,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,82}}</string>
                <key>sourceSize</key>
                <string>{265,82}</string>
            </dict>
            <key>pic_think_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,292},{140,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,104}}</string>
                <key>sourceSize</key>
                <string>{140,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Game.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1733462fa09d05a7fee35a700d60b30a$</string>
            <key>textureFileName</key>
            <string>Game.png</string>
        </dict>
    </dict>
</plist>
