<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pic_result_win_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,306},{320,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,302}}</string>
                <key>sourceSize</key>
                <string>{320,302}</string>
            </dict>
            <key>pic_result_win_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{320,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,302}}</string>
                <key>sourceSize</key>
                <string>{320,302}</string>
            </dict>
            <key>pic_result_win_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{320,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,302}}</string>
                <key>sourceSize</key>
                <string>{320,302}</string>
            </dict>
            <key>pic_result_win_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{320,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,302}}</string>
                <key>sourceSize</key>
                <string>{320,302}</string>
            </dict>
            <key>pic_result_win_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{320,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,302}}</string>
                <key>sourceSize</key>
                <string>{320,302}</string>
            </dict>
            <key>pic_result_win_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,302}}</string>
                <key>sourceSize</key>
                <string>{320,302}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Win.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a047c64690e225372b41f01559bff9d2$</string>
            <key>textureFileName</key>
            <string>Win.png</string>
        </dict>
    </dict>
</plist>
