<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pic_loading_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{468,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,252}}</string>
                <key>sourceSize</key>
                <string>{468,252}</string>
            </dict>
            <key>pic_top_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,438},{199,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,107}}</string>
                <key>sourceSize</key>
                <string>{199,107}</string>
            </dict>
            <key>txt_array_colour_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,844},{151,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,46}}</string>
                <key>sourceSize</key>
                <string>{151,46}</string>
            </dict>
            <key>txt_array_colour_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,844},{151,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,46}}</string>
                <key>sourceSize</key>
                <string>{151,46}</string>
            </dict>
            <key>txt_array_digital_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,843},{151,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,46}}</string>
                <key>sourceSize</key>
                <string>{151,46}</string>
            </dict>
            <key>txt_array_digital_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,867},{151,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,46}}</string>
                <key>sourceSize</key>
                <string>{151,46}</string>
            </dict>
            <key>txt_chooseColor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{541,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{541,44}}</string>
                <key>sourceSize</key>
                <string>{541,44}</string>
            </dict>
            <key>txt_chooseColor_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,514},{162,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,54}}</string>
                <key>sourceSize</key>
                <string>{162,54}</string>
            </dict>
            <key>txt_chooseColor_define.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,514},{162,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,54}}</string>
                <key>sourceSize</key>
                <string>{162,54}</string>
            </dict>
            <key>txt_order_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,370},{178,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,51}}</string>
                <key>sourceSize</key>
                <string>{178,51}</string>
            </dict>
            <key>txt_order_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,461},{204,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,51}}</string>
                <key>sourceSize</key>
                <string>{204,51}</string>
            </dict>
            <key>txt_order_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,753},{204,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,51}}</string>
                <key>sourceSize</key>
                <string>{204,51}</string>
            </dict>
            <key>txt_order_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,547},{204,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,51}}</string>
                <key>sourceSize</key>
                <string>{204,51}</string>
            </dict>
            <key>txt_result.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,256},{94,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,58}}</string>
                <key>sourceSize</key>
                <string>{94,58}</string>
            </dict>
            <key>txt_result_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,547},{230,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,66}}</string>
                <key>sourceSize</key>
                <string>{230,66}</string>
            </dict>
            <key>txt_result_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,547},{230,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,66}}</string>
                <key>sourceSize</key>
                <string>{230,66}</string>
            </dict>
            <key>txt_result_room1.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,332},{363,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,36}}</string>
                <key>sourceSize</key>
                <string>{363,36}</string>
            </dict>
            <key>txt_result_room2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,294},{363,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,36}}</string>
                <key>sourceSize</key>
                <string>{363,36}</string>
            </dict>
            <key>txt_result_room3.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,256},{363,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,36}}</string>
                <key>sourceSize</key>
                <string>{363,36}</string>
            </dict>
            <key>txt_result_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,370},{282,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,66}}</string>
                <key>sourceSize</key>
                <string>{282,66}</string>
            </dict>
            <key>txt_room1_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,768},{219,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,48}}</string>
                <key>sourceSize</key>
                <string>{219,48}</string>
            </dict>
            <key>txt_room1_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,779},{219,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,48}}</string>
                <key>sourceSize</key>
                <string>{219,48}</string>
            </dict>
            <key>txt_room2_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,779},{219,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,48}}</string>
                <key>sourceSize</key>
                <string>{219,48}</string>
            </dict>
            <key>txt_room2_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,779},{219,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,48}}</string>
                <key>sourceSize</key>
                <string>{219,48}</string>
            </dict>
            <key>txt_room3_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,799},{219,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,48}}</string>
                <key>sourceSize</key>
                <string>{219,48}</string>
            </dict>
            <key>txt_room3_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,547},{219,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,48}}</string>
                <key>sourceSize</key>
                <string>{219,48}</string>
            </dict>
            <key>txt_schedule_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,679},{163,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,36}}</string>
                <key>sourceSize</key>
                <string>{163,36}</string>
            </dict>
            <key>txt_schedule_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,679},{163,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,36}}</string>
                <key>sourceSize</key>
                <string>{163,36}</string>
            </dict>
            <key>txt_schedule_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,678},{163,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,36}}</string>
                <key>sourceSize</key>
                <string>{163,36}</string>
            </dict>
            <key>txt_schedule_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,678},{163,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,36}}</string>
                <key>sourceSize</key>
                <string>{163,36}</string>
            </dict>
            <key>txt_schedule_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,702},{163,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,36}}</string>
                <key>sourceSize</key>
                <string>{163,36}</string>
            </dict>
            <key>txt_schedule_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,514},{163,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,36}}</string>
                <key>sourceSize</key>
                <string>{163,36}</string>
            </dict>
            <key>txt_schedule_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,423},{163,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,36}}</string>
                <key>sourceSize</key>
                <string>{163,36}</string>
            </dict>
            <key>txt_think.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,461},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>txt_uiRoom1.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,514},{186,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,36}}</string>
                <key>sourceSize</key>
                <string>{186,36}</string>
            </dict>
            <key>txt_uiRoom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,514},{186,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,36}}</string>
                <key>sourceSize</key>
                <string>{186,36}</string>
            </dict>
            <key>txt_uiRoom3.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{186,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,36}}</string>
                <key>sourceSize</key>
                <string>{186,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Text.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e62091f37c80cffd3388bd8af958911d$</string>
            <key>textureFileName</key>
            <string>Text.png</string>
        </dict>
    </dict>
</plist>
