<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_backlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{277,407}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,407}}</string>
                <key>sourceSize</key>
                <string>{277,407}</string>
            </dict>
            <key>btn_room1_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{277,407}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,407}}</string>
                <key>sourceSize</key>
                <string>{277,407}</string>
            </dict>
            <key>btn_room2_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{277,407}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,407}}</string>
                <key>sourceSize</key>
                <string>{277,407}</string>
            </dict>
            <key>btn_room3_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,2},{276,407}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,407}}</string>
                <key>sourceSize</key>
                <string>{276,407}</string>
            </dict>
            <key>pic_lobby_coinframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{196,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,47}}</string>
                <key>sourceSize</key>
                <string>{196,47}</string>
            </dict>
            <key>pic_uiRoom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,820},{249,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,36}}</string>
                <key>sourceSize</key>
                <string>{249,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Lobby.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39bc27c29b6a342bfe2d4e19b989c979$</string>
            <key>textureFileName</key>
            <string>Lobby.png</string>
        </dict>
    </dict>
</plist>
