<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pic_loading_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,2},{468,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,252}}</string>
                <key>sourceSize</key>
                <string>{468,252}</string>
            </dict>
            <key>pic_top_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,309},{199,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,107}}</string>
                <key>sourceSize</key>
                <string>{199,107}</string>
            </dict>
            <key>txt_array_colour_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,524},{151,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,46}}</string>
                <key>sourceSize</key>
                <string>{151,46}</string>
            </dict>
            <key>txt_array_colour_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,476},{151,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,46}}</string>
                <key>sourceSize</key>
                <string>{151,46}</string>
            </dict>
            <key>txt_array_digital_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,473},{151,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,46}}</string>
                <key>sourceSize</key>
                <string>{151,46}</string>
            </dict>
            <key>txt_array_digital_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,418},{151,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,46}}</string>
                <key>sourceSize</key>
                <string>{151,46}</string>
            </dict>
            <key>txt_chooseColor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{541,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{541,44}}</string>
                <key>sourceSize</key>
                <string>{541,44}</string>
            </dict>
            <key>txt_chooseColor_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,352},{162,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,54}}</string>
                <key>sourceSize</key>
                <string>{162,54}</string>
            </dict>
            <key>txt_chooseColor_define.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,309},{162,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,54}}</string>
                <key>sourceSize</key>
                <string>{162,54}</string>
            </dict>
            <key>txt_order_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,309},{178,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,51}}</string>
                <key>sourceSize</key>
                <string>{178,51}</string>
            </dict>
            <key>txt_order_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,256},{204,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,51}}</string>
                <key>sourceSize</key>
                <string>{204,51}</string>
            </dict>
            <key>txt_order_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,262},{204,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,51}}</string>
                <key>sourceSize</key>
                <string>{204,51}</string>
            </dict>
            <key>txt_order_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,256},{204,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,51}}</string>
                <key>sourceSize</key>
                <string>{204,51}</string>
            </dict>
            <key>txt_result.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,256},{94,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,58}}</string>
                <key>sourceSize</key>
                <string>{94,58}</string>
            </dict>
            <key>txt_result_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,230},{230,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,66}}</string>
                <key>sourceSize</key>
                <string>{230,66}</string>
            </dict>
            <key>txt_result_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{230,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,66}}</string>
                <key>sourceSize</key>
                <string>{230,66}</string>
            </dict>
            <key>txt_result_room1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{363,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,36}}</string>
                <key>sourceSize</key>
                <string>{363,36}</string>
            </dict>
            <key>txt_result_room2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{363,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,36}}</string>
                <key>sourceSize</key>
                <string>{363,36}</string>
            </dict>
            <key>txt_result_room3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{363,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,36}}</string>
                <key>sourceSize</key>
                <string>{363,36}</string>
            </dict>
            <key>txt_result_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{311,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,66}}</string>
                <key>sourceSize</key>
                <string>{311,66}</string>
            </dict>
            <key>txt_room1_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{219,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,48}}</string>
                <key>sourceSize</key>
                <string>{219,48}</string>
            </dict>
            <key>txt_room1_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{219,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,48}}</string>
                <key>sourceSize</key>
                <string>{219,48}</string>
            </dict>
            <key>txt_room2_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{219,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,48}}</string>
                <key>sourceSize</key>
                <string>{219,48}</string>
            </dict>
            <key>txt_room2_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{219,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,48}}</string>
                <key>sourceSize</key>
                <string>{219,48}</string>
            </dict>
            <key>txt_room3_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,212},{219,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,48}}</string>
                <key>sourceSize</key>
                <string>{219,48}</string>
            </dict>
            <key>txt_room3_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,162},{219,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,48}}</string>
                <key>sourceSize</key>
                <string>{219,48}</string>
            </dict>
            <key>txt_schedule_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,438},{163,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,36}}</string>
                <key>sourceSize</key>
                <string>{163,36}</string>
            </dict>
            <key>txt_schedule_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,418},{163,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,36}}</string>
                <key>sourceSize</key>
                <string>{163,36}</string>
            </dict>
            <key>txt_schedule_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,400},{163,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,36}}</string>
                <key>sourceSize</key>
                <string>{163,36}</string>
            </dict>
            <key>txt_schedule_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,362},{163,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,36}}</string>
                <key>sourceSize</key>
                <string>{163,36}</string>
            </dict>
            <key>txt_schedule_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,124},{163,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,36}}</string>
                <key>sourceSize</key>
                <string>{163,36}</string>
            </dict>
            <key>txt_schedule_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,86},{163,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,36}}</string>
                <key>sourceSize</key>
                <string>{163,36}</string>
            </dict>
            <key>txt_schedule_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,48},{163,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,36}}</string>
                <key>sourceSize</key>
                <string>{163,36}</string>
            </dict>
            <key>txt_think.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,429},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>txt_uiRoom1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,391},{186,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,36}}</string>
                <key>sourceSize</key>
                <string>{186,36}</string>
            </dict>
            <key>txt_uiRoom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,353},{186,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,36}}</string>
                <key>sourceSize</key>
                <string>{186,36}</string>
            </dict>
            <key>txt_uiRoom3.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,315},{186,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,36}}</string>
                <key>sourceSize</key>
                <string>{186,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Text.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed72bbeacd17236fa5ab7e923fd7a827$</string>
            <key>textureFileName</key>
            <string>Text.png</string>
        </dict>
    </dict>
</plist>
