<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>brand_lobby01.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,121},{118,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{118,80}}</string>
                <key>sourceSize</key>
                <string>{198,80}</string>
            </dict>
            <key>brand_lobby02.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,121},{118,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{118,80}}</string>
                <key>sourceSize</key>
                <string>{198,80}</string>
            </dict>
            <key>brand_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,371},{280,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,116}}</string>
                <key>sourceSize</key>
                <string>{280,116}</string>
            </dict>
            <key>btn_Send_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,273},{60,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{60,54}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>btn_Send_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,329},{60,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{60,52}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>btn_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,241},{128,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,61}}</string>
                <key>sourceSize</key>
                <string>{128,61}</string>
            </dict>
            <key>chat_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,236}}</string>
                <key>sourceSize</key>
                <string>{400,236}</string>
            </dict>
            <key>chat_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,47},{100,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,37}}</string>
                <key>sourceSize</key>
                <string>{100,37}</string>
            </dict>
            <key>icon_marquee.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,322},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{30,29}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>icon_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,277},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>load_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,86},{100,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,33}}</string>
                <key>sourceSize</key>
                <string>{100,33}</string>
            </dict>
            <key>load_process.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{100,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,43}}</string>
                <key>sourceSize</key>
                <string>{100,43}</string>
            </dict>
            <key>pic_NoticFrame_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{513,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{513,281}}</string>
                <key>sourceSize</key>
                <string>{513,281}</string>
            </dict>
            <key>pic_gradien.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{393,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,31}}</string>
                <key>sourceSize</key>
                <string>{393,31}</string>
            </dict>
            <key>pic_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,241},{34,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{34,45}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b32d8c63328b56e63ca3eba9e41c81d1$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
